@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.privacy_select_btn{
    background-color: transparent;
    font-family: 'Pretendard-Regular';
    /* 테두리 */
    border: 0.001rem solid #EDEDED;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.privacy_select_btn:hover{
    background-color: #EDEDED;
}

.privacy_select_btn_icon{
    width: 12px;
}