.btn{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 20px;
}

.btn:hover {
    background-color: #EDEDED;
    cursor: pointer;
}

.floating_btn{
    width: 35px;
}