@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.MyPage2 {
  padding-bottom: 100px;
}

.box_2 {
  background-color: white;

  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 181px;
  padding-top: 50px;
  padding-bottom: 100px;

  border-radius: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  position: relative;
  z-index: 0;
}

.intro-content_2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Pretendard-Regular';
}

.profile-image {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);

  width: 150px;
  height: 150px;
}

.name-text_2 {
  position: absolute;
  top: 185px;
  left: 50%;
  transform: translateX(-50%);

  font-family: 'Pretendard-Regular';
  font-size: 30px;
  color: black;
  text-align: center;
  white-space: nowrap;
}

.profile-button_2 {
  position: absolute;
  top: 255px;
  left: 50%;
  transform: translateX(-50%);

  width: 85px;
  height: 25px;

  background-color: #d9d9d9;
  border: none;
  border-radius: 30px;

  color: black;
  font-family: 'Pretendard-Regular';
  font-size: 15px;
}

.line_2 {
  position: absolute;
  top: 340px;
  left: 50%;
  transform: translateX(-50%);

  width: 70%;
  height: 1px;

  background-color: black;
  z-index: 20;
}

.letter-arrived_2 {
  position: absolute;
  top: auto;
  left: auto;
  transform: translateX(0%);
  transform-origin: bottom;

  width: 130px;
  height: 50px;
  margin-top: -49px;

  background-color: #E8FBFFCC;
  border: 1px solid black;
  border-radius: 25px 25px 0 0;

  font-family: 'Pretendard';
  font-weight: 300;
  font-size: 19px;
  padding-top: 5px;

  cursor: pointer;
  transition: height 0.2s ease, margin-top 0.2s ease;

  z-index: 15;
}

.letter-arrived_2:hover {
  height: 56px;
  margin-top: -55px;
}

.letter-arriving_2 {
 position: absolute;
  top: auto;
  left: auto;
  transform: translateX(0%);

  width: 130px;
  height: 56px;
  margin-left: 129.5px;
  margin-top: -55px;

  background-color: #FFF9CFCC;
  border: 1px solid black;
  border-radius: 25px 25px 0 0;

  font-family: 'Pretendard';
  font-weight: 300;
  font-size: 19px;
  padding-top: 5px;

  cursor: pointer;
  transition: height 0.2s ease, margin-top 0.2s ease;

  z-index: 15;
}

.letter-arriving_2.hovered-by-arrived {
  height: 50px;
  margin-top: -49px;
}

.arriving-box-container_2 {
  width: 80%;
  padding: 10px;
  margin-top: 330px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  box-sizing: border-box;

  position: relative;
}

.arriving-box_2 {
  background-color: #FFF9CFCC;

  width: 268px;
  height: 170px;
  padding: 20px 0;

  border: 1px solid black;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  transition: background-color 0.3s ease;
}

.lock-image {
  width: 40px;
  height: auto;
  margin-bottom: 13px;
}

.box-title_2 {
  color: black;

  font-family: 'Pretendard';
  font-weight: 300;
  font-size: 19px;
  text-align: center;

  padding: 0px 10px;

  word-break: break-word;
  white-space: nowrap;
  line-height: 5px;
}

.name_2 {
  font-family: 'Pretendard-Regular';
}

.date_2 {
  color: red;
  font-weight: bold;
}
