/* 폰트-face 정의 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.MyPage2 {
  padding-bottom: 100px;
}

.box_2 {
  background-color: white;

  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 181px;
  padding-top: 50px;
  padding-bottom: 100px;

  border-radius: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  position: relative;
  z-index: 0;
}

.intro-content_2 {
  font-family: 'Pretendard-Regular';

  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.profile-image {
  width: 100px;
  height: 100px;

  position: absolute;
  top: 94px;
  left: 50%;
  transform: translateX(-50%);
}

.name-text_2 {
  color: black;

  font-family: 'Pretendard-Regular';
  font-size: 25px;
  text-align: center;
  white-space: nowrap;

  position: absolute;
  top: 169px;
  left: 50%;
  transform: translateX(-50%);
}

.intro-text_2 {
  color: black;

  font-family: 'Pretendard-Regular';
  font-size: 11px;
  text-align: center;

  position: absolute;
  top: 221px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-button_2 {
  background-color: #d9d9d9;
  color: black;

  width: 79px;
  height: 19px;
  border: none;
  border-radius: 30px;

  font-family: 'Pretendard-Regular';
  font-size: 11px;

  position: absolute;
  top: 252px;
  left: 50%;
  transform: translateX(-50%);
}

.line_2 {
  background-color: black;

  width: 70%;
  height: 1px;

  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.letter-arrived_2 {
  background-color: #E8FBFFCC;
  color: black;

  width: 100px;
  height: 40px;
  margin-top: -39px;
  padding-top: 5px;

  border: 1px solid black;
  border-radius: 25px 25px 0 0;

  font-family: 'Pretendard-Regular';
  font-size: 14px;

  cursor: pointer;
  transition: height 0.2s ease, margin-top 0.2s ease;

  position: absolute;
  transform: translateX(0%);
  transform-origin: bottom;
  z-index: 15;
}

.letter-arrived_2:hover {
  height: 45px;
  margin-top: -44px;
}

.letter-arriving_2 {
  background-color: #FFF9CFCC;
  color: black;

  width: 100px;
  height: 45px;
  margin-left: 99.5px;
  margin-top: -44px;
  padding-top: 5px;

  border: 1px solid black;
  border-radius: 25px 25px 0 0;

  font-family: 'Pretendard-Regular';
  font-size: 14px;

  transition: height 0.2s ease, margin-top 0.2s ease;

  position: absolute;
  transform: translateX(0%);
  z-index: 15;
}

.letter-arriving_2.hovered-by-arrived {
  height: 40px;
  margin-top: -39px;
}

.arriving-box-container_2 {
  width: 80%;
  padding: 10px;
  margin-top: 300px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  box-sizing: border-box;

  position: relative;
}

.arriving-box_2 {
  background-color: #FFF9CFCC;

  width: 268px;
  height: 170px;
  padding: 20px 0;

  border: 1px solid black;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.lock-image {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.box-title_2 {
  color: black;

  font-family: 'Pretendard-Regular';
  font-size: 16px;
  text-align: center;

  padding: 0 10px;

  word-break: break-word;
  white-space: normal;
}

.date_2 {
  color: red;
  font-weight: bold;
}
