.login-logo {
    width: 375px;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 200px auto 0 auto;
  }
  
.login-input {
    width: 500px;
    height: 40px;
    padding: 12px 16px;
    border-radius: 20px;
    font-size: 20px;
  }
  